# Backend Configuration
API_PORT=8081
API_URL=http://backend_diario:8081

# Database Configuration
DB_NAME=news_database
DB_HOST=db_diario
DB_PORT=27018
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=
NEWS_COLLECTION_NAME=news_items

NODE_ENV=development

CLUSTER_API_URL=http://python_api_diario:8001
OPENSEARCH_NODE=http://opensearch_diario:9200
API_ENDPOINT=
AMALIA_VERSION=
OPENSEARCH_PASSWORD=
EMBEDDING_MODEL_NAME=BAAI/bge-m3
EMBEDDING_DIMENSION=1024

SENTRY_DSN=

NEXT_PUBLIC_GA_ID=G-VGLYSMG59Z

SITE_ADMIN_USER=admin
SITE_ADMIN_PASSWORD=1234

NEXT_PUBLIC_DEBUG_PASSWORD=
